{
	skip_install_trust
	{$CADDY_GLOBAL_OPTIONS}
}

{$FRONTEND_SERVER_NAME} {
	{$TLS_DIRECTIVE}

	encode zstd gzip
	reverse_proxy {$FRONTEND_UPSTREAM}
}

{$BACKEND_SERVER_NAME} {
	{$TLS_DIRECTIVE}

	encode zstd gzip
	reverse_proxy {$BACKEND_UPSTREAM}
}
